body {
  background-image:url('httpsimg.freepik.comfotos-premiumbrujula-que-apunta-al-liderazgo-mapa-creado-ia-generativa_419341-24254.jpgw=360');  Reemplaza 'httpsimg.freepik.comfotos-premiumbrujula-que-apunta-al-liderazgo-mapa-creado-ia-generativa_419341-24254.jpgw=360' con la ruta de tu imagen 

  background-size: cover; /* Esto hará que la imagen cubra toda la página */
 
  background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
 
  background-position: center center; /* Esto centrará la imagen en la página */
}
